src/main/java/com/zb/byb/EASLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://192.168.91.35:56898/ormrpc/services/EASLogin" xmlns:intf="http://192.168.91.35:56898/ormrpc/services/EASLogin" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client" xmlns:tns2="http://webservice.bos.kingdee.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:client" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.bos.kingdee.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSContext">
    <sequence>
     <element name="dbType" type="xsd:int"/>
     <element name="dcName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="sessionId" nillable="true" type="xsd:string"/>
     <element name="slnName" nillable="true" type="xsd:string"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://webservice.bos.kingdee.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:client"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="logoutRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginBfbRequest">

      <wsdl:part name="jsonStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse2">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns2:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginSaleResponse">

      <wsdl:part name="loginSaleReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest1">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="authPattern" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="isEncodePwd" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginBfbResponse">

      <wsdl:part name="loginBfbReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest2">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse1">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginMaterialQRRequest">

      <wsdl:part name="jsonStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginMaterialQRResponse">

      <wsdl:part name="loginMaterialQRReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginZBAPPRequest">

      <wsdl:part name="jsonStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part name="logoutReturn" type="xsd:boolean">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginSaleRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginZBAPPResponse">

      <wsdl:part name="loginZBAPPReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="authPattern" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EASLoginProxy">

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType authPattern">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType authPattern isEncodePwd">

         <wsdl:input message="impl:loginRequest1" name="loginRequest1">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse1" name="loginResponse1">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType">

         <wsdl:input message="impl:loginRequest2" name="loginRequest2">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse2" name="loginResponse2">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout" parameterOrder="userName slnName dcName language">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginSale" parameterOrder="userName password slnName dcName language dbType">

         <wsdl:input message="impl:loginSaleRequest" name="loginSaleRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginSaleResponse" name="loginSaleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginMaterialQR" parameterOrder="jsonStr">

         <wsdl:input message="impl:loginMaterialQRRequest" name="loginMaterialQRRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginMaterialQRResponse" name="loginMaterialQRResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginBfb" parameterOrder="jsonStr">

         <wsdl:input message="impl:loginBfbRequest" name="loginBfbRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginBfbResponse" name="loginBfbResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginZBAPP" parameterOrder="jsonStr">

         <wsdl:input message="impl:loginZBAPPRequest" name="loginZBAPPRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginZBAPPResponse" name="loginZBAPPResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EASLoginSoapBinding" type="impl:EASLoginProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginSale">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginSaleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginSaleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginMaterialQR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginMaterialQRRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginMaterialQRResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginBfb">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginBfbRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginBfbResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginZBAPP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginZBAPPRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginZBAPPResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://192.168.91.35:56898/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EASLoginProxyService">

      <wsdl:port binding="impl:EASLoginSoapBinding" name="EASLogin">

         <wsdlsoap:address location="http://192.168.91.35:56898/ormrpc/services/EASLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
